body{
background-color: #ffff00 ;
background:url(imagenescss/aincrad.png);
background-repeat: no-repeat; /*para que no se repita*/
background-size: cover; /*para que cubra todo*/

}

h1{
	color: #FF0000;
	background-color: #ffff00 ;
	border-color: #512da8;
	/*border-style: solid;*/
	border-style: dashed;
	border-width: 5px;
}

#especial{
	color: rgba(0,0,200,1.0);
}

.verde{
	color: #00FF00;
}
