header{
	background-color: #7CFC00; 
}

.blanco{
	color: white;
}

.color{

background-color: 	#6495ED;
border-width: 10px;

}


.color2{

background-color: 	#00FFFF;
border-width: 10px;

}


.color3{

background-color: 	#00FFFF;
border-width: 10px;

}